body{
    margin: 0;
    padding: 0;
    padding-top: 5%;
    background-color: rgb(239, 232, 232);
    justify-content: center;
    align-items: center;
    display: flex;
}

#div_table #three{
   

    /* float: right; */
    width: 60%;
    text-align: center;
}
#div_table tr td{
    width: 100px;
    height: 40px;
}